@import '~bootstrap/scss/bootstrap';

body {
  background-image: url("./styling/project-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;

  h2 {
    text-align: center;
  }
}

a {
  color: white;
}

button {
  margin: 8px;
  font-size: 15px;
}

.body-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container {
  margin-top: 40px;
}

.create-garment-title, .view-garments-title, .redirect-link {
  font-size: 20px;
  padding-right: 10px;
  text-decoration-line: underline;
}

.dropdown {
  padding: 10px;
}

.edit-form-buttons {
  position: relative;
  display: flex;
  padding: 20px;
}

.fashion-facts {
  padding-top: 40px;
  text-align: center;
  font-size: 25px;
}

.footer {
  position: absolute;
  bottom: 5px;
}

.footer-link {
  text-decoration-line: underline;
}

.card {
  background-color: rgba(8, 168, 101, 0.8);
  border-radius: 20px;
  color: white;
  padding: 15px;
}

.garment-body {
  background-color: rgba(8, 168, 101, 0.8);
  font-size: 25px;
  height: 400px;
  overflow: scroll;
  padding: 15px;

  p {
    font-size: 20px;
  }
}

.materials-title {
  text-decoration-line: underline;
}

li {
  font-size: 20px;
}

nav {
  background-color: rgb(8, 168, 101);
}

.percents {
  width: 40px;
  margin: 10px;
}

.title {
  text-align: center;
}